@import "./variables.scss";

.bg-main-custom {
  background-color: $main-color;
}
.bg-secondary-custom {
  background-color: $secondary-color;
}
.bg-secondary-custom-1 {
  background-color: $secondary-color-1;
}
.bg-other-custom {
  background-color: $darkest-white;
}
.bg-default-custom {
  background-color: $main-card-color;
}

//-----------------Text----------------
.text-color-1 {
  color: $main-color-txt;
}

.text-color-2 {
  color: $secondary-color-txt;
}

//-----------------Card----------------
.card-color-blue-1 {
  background-color: $main-card-color;
}
