// TODO: try to do this by adding values to spacers map of bootstrap

.pt-10 {
  padding-top: 6rem !important;
}
.pt-13 {
  padding-top: 9rem !important;
}

.min-w-3 {
  min-width: 3rem;
}

.cursor-grab:hover {
  cursor: grab;
}
