//-------------Colors----------------
$white: #ffffff;
$darkest-white: #ececec;
$main-color: #22233b;
$secondary-color: #d9d9d9;
$secondary-color-1: #f7f7f7;
$main-color-txt: #0c0d2b;
$secondary-color-txt: #42434e;
$bg-color-2: #cecece;
$color-1: #6d6875;

$main-card-color: #4a4f69;
