.container-boards {
  padding-top: 270px;
}
@media (min-width: 576px) {
  .container-boards {
    padding-top: 190px;
  }
}
@media (min-width: 768px) {
  .container-boards {
    padding-top: 140px;
  }
}
