section {
  margin-bottom: 2rem;
}

.image-selector {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

@media (min-width: 992px) {
  .image-selector {
    width: 300px;
  }
}
