<app-project-header [loaded]="!!project" [projectData]="project"></app-project-header>
<div class="container-boards" [sortablejs]="boards" [sortablejsOptions]="boardsDndOptions">
  <ng-container *ngIf="boardsLoaded; else loading">
    <app-board class="board-drag" *ngFor="let board of boards" [data]="board" [canEditBoard]="editBoardCallback"
      [canAddTask]="addTaskCallback" [canEditTask]="editTaskCallback"></app-board>
    <div class="add-board">
      <button class="btn btn-light bg-secondary-custom-1 text-start" type="button" (click)="onCreateBoard()">
        <i class="bi bi-plus-lg mx-1 opacity-50"></i>
        <span class="opacity-50">Add board</span>
      </button>
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="d-flex justify-content-center align-content-center m-4">
      <div class="spinner-border" role="status">
      </div>
    </div>
  </ng-template>

</div>

<ng-template #fullLoading>
  <div class="d-flex justify-content-center align-content-center flex-wrap" style="width: 100vw; height: 100vh;">
    <div class="spinner-border" role="status">
    </div>
  </div>
</ng-template>

<!-- Modal add/edit board -->
<ng-template #modalBoard let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{editMode ? 'Edit' : 'Add'}} board</h4>
    <button type="button" class="btn-close" aria-label="Close" [disabled]="loadingSave"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <ng-container *ngIf="!loadingPreview; else loadingPrev">
      <form [formGroup]="boardForm" action="Create board">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" formControlName="name" id="floatingName" placeholder="TODO">
          <label for="floatingName">Name</label>
          <div>
            <!-- TODO: Add message depending on the error -->
            <ng-container *ngIf="name.dirty || name.touched">
              <small class="text-danger" *ngIf="!name.valid">Type a valid name</small>
              <!-- <small class="text-danger" *ngIf="true">Don't forget the name</small> -->
              <!-- <small class="text-danger" *ngIf="true">The name is too long</small> -->
            </ng-container>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" [disabled]="loadingSave"
      (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary" [disabled]="loadingSave" (click)="saveBoard()">
      <span *ngIf="loadingSave || loadingPreview" class="spinner-border spinner-border-sm" role="status"
        aria-hidden="true"></span>
      <span>{{loadingSave || loadingPreview ? 'Loading...' : 'Save'}}</span>
    </button>
  </div>
</ng-template>

<!-- Modal add/edit task -->
<ng-template #modalTask let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{editMode ? 'Edit' : 'Add'}} task</h4>
    <button type="button" class="btn-close" aria-label="Close" [disabled]="loadingSave"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <ng-container *ngIf="!loadingPreview; else loadingPrev">
      <form [formGroup]="taskForm" action="Create board">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" formControlName="name" id="floatingName" placeholder="TODO">
          <label for="floatingName">Name</label>
          <div>
            <!-- TODO: Add message depending on the error -->
            <ng-container *ngIf="taskName.dirty || taskName.touched">
              <small class="text-danger" *ngIf="!taskName.valid">Type a valid name</small>
              <!-- <small class="text-danger" *ngIf="true">Don't forget the name</small> -->
              <!-- <small class="text-danger" *ngIf="true">The name is too long</small> -->
            </ng-container>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" [disabled]="loadingSave"
      (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary" [disabled]="loadingSave" (click)="saveTask()">
      <span *ngIf="loadingSave || loadingPreview" class="spinner-border spinner-border-sm" role="status"
        aria-hidden="true"></span>
      <span>{{loadingSave || loadingPreview ? 'Loading...' : 'Save'}}</span>
    </button>
  </div>
</ng-template>

<ng-template #loadingPrev>
  <div class="d-flex justify-content-center align-items-center my-4" style="height: 100%;">
    <div class="spinner-border" role="status"></div>
  </div>
</ng-template>
