<div class="card">
  <div class="card-header bg-secondary-custom-1 border-bottom-0 d-flex justify-content-between">
    <div class="d-flex gap-1">
      <button type="button" class="btn btn-outline-secondary cursor-grab handle" (touchstart)="$event.stopPropagation()"
        (touchstart)="$event.stopPropagation()">
        <i class="bi bi-grip-vertical"></i>
      </button>
      <div class="fw-bold my-auto">{{data.name ?? 'Board name'}}</div>
    </div>
    <div ngbDropdown #dropBoard="ngbDropdown">
      <button type="button" class="btn btn-light" (click)="$event.stopPropagation(); dropBoard.open();">
        <i class="bi bi-three-dots m-0 h4"></i>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropBoard">
        <button ngbDropdownItem (click)="canEditBoard?.(data)">Edit</button>
        <hr class="dropdown-divider">
        <button ngbDropdownItem class="btn btn-outline-danger rounded-0" (click)="canDeleteBoard?.()">Delete</button>
      </div>
    </div>
  </div>
  <div class="card-body bg-secondary-custom-1 pt-0 1 pb-2">
    <div class="d-flex flex-column px-1 gap-2 board-content my-3">
      <ng-container *ngFor="let i of [1,2,3,4,5,6,7,8,9,0,1,2,3,4,5]">
        <app-task></app-task>
      </ng-container>
    </div>
    <div class="d-flex row gap-2">
      <button class="btn btn-light bg-secondary-custom-1 text-start" *ngIf="canAddTask" (click)="canAddTask()">
        <i class="bi bi-plus-lg mx-1 opacity-50"></i>
        <span class="opacity-50">Add task</span>
      </button>
    </div>
  </div>
</div>
