.card {
  min-width: 352px;
}

.board-content {
  min-height: 41px;
  max-height: calc(100vh - 26.4rem);
  overflow-x: hidden;
  overflow-y: auto;
}
@media (min-width: 576px) {
  .board-content {
    max-height: calc(100vh - 21.4rem);
  }
}
@media (min-width: 768px) {
  .board-content {
    max-height: calc(100vh - 18.4rem);
  }
}
